@import "./constantes/constantes";
@import "~@angular/material/theming";

.chat-message-container {
  margin: 5px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__sub-container {
    display: flex;
    align-items: center;

    &--send {
      flex-direction: row-reverse;
    }

    &--received {
      flex-direction: row;
    }
  }
}

.message-container {
  margin: 5px;
  border-radius: 0px $chatMessageBorderRadius $chatMessageBorderRadius $chatMessageBorderRadius;
  min-width: 30%;
  max-width: 60%;
  min-height: $chatMessageBorderRadius;
  padding: 10px;

  &__message-content {
    margin: auto;
  }

  &--received {
    border-radius: 0px $chatMessageBorderRadius $chatMessageBorderRadius $chatMessageBorderRadius;
    background: $primaryColor;
    margin-left: 25px;
  }

  &--send {
    border-radius: $chatMessageBorderRadius 0px $chatMessageBorderRadius $chatMessageBorderRadius;
    background: $backgroundImage;
    color: whitesmoke;
    margin-right: 25px;
  }

  &__user-avatar {
    margin: 0px 5px;
  }

  &__user-name {
    font-size: 1em;
    color: darkgrey;
  }

  &__message-temporality {
    font-size: 0.9em;
    color: darkgrey;
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.chat-conversation-container {
  width: 100%;
  height: calc(100% - #{$chatMessageSenderHeight} - #{$toolBarHeigh});
}

.chat-message-sender-container {
  width: calc(100% - 10px);
  height: $chatMessageSenderHeight;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;

  &__send-btn {
    color: black;
  }

  &__text-area {
    border: none;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
    min-height: $chatMessageBorderRadius;
    border-radius: $chatMessageBorderRadius;
    border: thin solid grey;
    font: inherit;
    width: 80%;

    &:focus {
      border: thin solid $secondaryDarkColor;
      box-sizing: border-box;
      outline: none;
    }
  }
}
