name: Greet first-time contributors

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: '@la-clic organization want to say thank you for contributing. Please, consider reading the readme file and  travel through the wiki to know to know what you will bring to this amazing project !'
